/*
Name: 
Date: 
*/
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "footer footer footer";
}



.header{ /*DO NOT REMOVE*/
    grid-area: header;
    background-color: #000000;
    color: red;
    font-family: 'Yellowtail', cursive;
    font-size: 15px;
    text-align: center;
}


.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
    background-color: #000000;
    padding: 50%;
}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
    background-color: #CC0000;
}

.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
    background-color: #CC0000;
    font-family: 'Yellowtail', cursive;
    font-size: 15px;

}

.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
    background-color: #CC0000;
    font-family: 'Yellowtail', cursive;
    font-size: 15px;
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: videoSection;
    background-color: #000000;
    text-align: center;
}

.footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    background-color: #000000;
    color: red;
    font-family: 'Yellowtail', cursive;
    font-size: 15px;
    text-align: center;
}

img {
  width: 100%;
}